@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

.nunito {
  font-family: "Nunito", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.rotate {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
